body{
    background: #000814;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97.5vw;
    height: 97.5vh;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../img/clock.png");
    width: 400px;
    height: 400px;
}

main::before{
    content: "";
    position: absolute;
    background: white;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

section{
    position: absolute;
}

section:nth-child(1){
    width: 160px;
    height: 160px;
}

section:nth-child(2){
    width: 190px;
    height: 190px;
}

section:nth-child(3){
    width: 230px;
    height: 230px;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hour::before{
    content: "";
    width: 8px;
    height: 80px;
    background: deeppink;
}
